.nav-content {
    display: flex;
    align-items: center;
    padding: 0 10px;
  }
  
  .nav-icon {
    height: 30px;
    width: auto;
    margin-right: 10px;
  }
  
  ion-title {
    padding: 0;
  }