<ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header class="settings-header">
      <ion-label>Theme</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Dark Mode</ion-label>
      <ion-toggle
        [checked]="isDarkMode"
        (ionChange)="onThemeToggle($event)"
        slot="end"
      >
      </ion-toggle>
    </ion-item>

    <ion-list-header class="settings-header">
      <ion-label>Notifications</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Snus Reminders</ion-label>
      <ion-toggle
        [checked]="notificationService.notificationsEnabled$ | async"
        (ionChange)="onNotificationToggle($event)"
        slot="end"
      >
      </ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list-header class="settings-header">
    <ion-label>Notification Settings</ion-label>
  </ion-list-header>
  <app-notification-options
    *ngIf="notificationService.notificationsEnabled$ | async"
  >
  </app-notification-options>
</ion-content>
